body {
  margin: 0 10%;
  background-color: #201e2f;
  color: white;
  font-family: "Open Sans";
}

.color {
  width: 100%;
  border: 2px solid #ffd300;
  margin: 10px auto;
  padding: 10px;
}

.colors p {
  display: inline-block;
  margin: 20px auto;
  min-height: 100px;
  text-align: center;
  width: 32.5%;
}

#red {
  background-color: red;
  color: white;
}

#yellow {
  background-color: yellow;
  color: #000;
}

#green {
  background-color: green;
  color: white;
}

.fonts {
  border: 2px solid #ffd300;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

.style {
  border: 2px solid #ffd300;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

.styles {
  display: flex;
  flex-direction: row;
}

.weather {
  margin-right: 150px;
}

.meri {
  font-family: "Merriweather Sans";
}

.meriReg {
  font-family: "Merriweather Sans";
}

.meriItalic {
  font-family: "Merriweather Sans";
  font-style: italic;
}

.roboto {
  font-family: "Roboto";
}

.robotoReg {
  font-family: "Roboto";
}

.robotoItalic {
  font-family: "Roboto";
  font-style: italic;
}

.nunitoReg {
  font-family: "Nunito";
}

.nunitoItalic {
  font-family: "Nunito";
  font-style: italic;
}
